h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.bigBlock {
  margin: auto;
  width: 40%;
  background-color: blanchedalmond;
  outline: 5px solid darkorange;
}

.gameBlock {
  padding: 15px;
  margin: auto;
  width: 90%;
  background-color: blanchedalmond;
  text-align: center;
  height: fit-content;
  outline: 5px solid darkorange;
}

.row {
  margin: auto;
  min-width: fit-content;
  width: fit-content;
  display: flex;
}

.block {
  width: 5px;
  height: 5px;
  background-color: white;
  margin: 1px;
  float: left;
}

button {
  display: flex;
  margin: auto;
  margin-top: 20px;
  width: 40%;
  border: 0px;
  outline: 5px solid darkorange;
}
button.pressed {
  background-color: blueviolet;
}